body{
    background-color: rgb(252, 252, 251);
}

#titulo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

/* #titulo_bem_vindo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.menu{
    width:500px;
    background:white;
    border-radius:28px;
    padding:40px;
    box-shadow:0 15px 40px rgba(79,70,229,0.15);
    position:relative;
    position: relative;
    left: 660px;
    top: 100px;
}

.logo-area{
    text-align:center;
    margin-bottom:35px;
}

.logo-icon{
    width:90px;
    height:90px;

    margin:auto;
    margin-bottom:18px;

    border-radius:50%;

    background:
    linear-gradient(135deg,#4f46e5,#6366f1);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;

    box-shadow:
    0 10px 25px rgba(79,70,229,0.3);
}

#inicio{
    font-size:42px;
    color:#0f172a;
    font-weight:700;
    margin-bottom:12px;
}

.subtitulo{
    color:#64748b;
    font-size:16px;
    line-height:1.5;
}

.menu_opcoes{
    display:flex;
    flex-direction:column;
    gap:20px;
    width: 465px;
}

.card-btn{
    width:100%;
    padding:22px;

    border-radius:20px;

    text-decoration:none;

    display:flex;
    align-items:center;
    justify-content:space-between;

    transition:0.3s ease;

    box-shadow:
    0 8px 20px rgba(0,0,0,0.08);
}

.card-btn:hover{
    transform:translateY(-5px) scale(1.01);
}

/* PRIMEIRO CARD */

.iniciar{
    background:
    linear-gradient(135deg,#4f46e5,#4338ca);

    color:white;
}

/* SEGUNDO CARD */

.sobre{
    background:
    linear-gradient(135deg,#d1fae5,#a7f3d0);

    color:#064e3b;
}

/* ÍCONES */

.icon{
    font-size:32px;
}

/* TEXTOS */

.textos{
    flex:1;
    margin-left:18px;
}

.textos h2{
    font-size:22px;
    margin-bottom:5px;
}

.textos p{
    font-size:14px;
    opacity:0.9;
}

/* SETA */

.seta{
    font-size:28px;
}

/* FRASE FINAL */

.frase{
    margin-top:30px;
    text-align:center;

    color:#64748b;

    font-size:15px;
    font-weight:500;
}

/* CARD PRINCIPAL */

.menu{
    width:520px;

    background:white;

    border-radius:30px;

    padding:40px;

    position:relative;
    z-index:1;

    box-shadow:
    0 15px 40px rgba(79,70,229,0.15);
}

.menu-sobre{
    width:520px;
    background:white;
    border-radius:30px;
    padding:40px;
    position:relative;
    left: 667px;
    z-index:1;
    box-shadow:
    0 15px 40px rgba(79,70,229,0.15);
}

/* TOPO */

.topo{
    text-align:center;
    margin-bottom:35px;
    position: relative;
    top: -30px;
}

.icone{
    width:95px;
    height:95px;
    margin:auto;
    margin-bottom:20px;
    border-radius:50%;
    background:
    linear-gradient(135deg,#4f46e5,#6366f1);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    color:white;
    box-shadow:
    0 10px 25px rgba(79,70,229,0.3);
}

#inicio{
    font-size:40px;
    color:#0f172a;
    margin-bottom:12px;
}

.subtitulo{
    color:#64748b;
    line-height:1.6;
    font-size:15px;
}

/* CARDS DE INFORMAÇÃO */

.texto_sobre{
    display:flex;
    flex-direction:column;
    gap:11px;
}

/* CARD INFO */

.info-card{
    background:#f8fafc;
    border-radius:18px;
    padding:18px;
    display:flex;
    align-items:center;
    gap:18px;
    border:2px solid #eef2ff;
}

.info-card h2{
    color:#0f172a;
    font-size:20px;
    margin-bottom:4px;
}

.info-card p{
    color:#64748b;
    font-size:15px;
}

/* ÍCONES */

.emoji{
    width:60px;
    height:60px;

    border-radius:16px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:28px;

    background:white;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.08);
}

/* CARDS SOCIAIS */

.social-card{
    text-decoration:none;

    padding:20px;

    border-radius:20px;

    display:flex;
    align-items:center;

    gap:18px;

    transition:0.3s ease;
}

.social-card:hover{
    transform:translateY(-4px);
}

/* GITHUB */

.github{
    background:
    linear-gradient(135deg,#4f46e5,#4338ca);

    color:white;
}

/* LINKEDIN */

.linkedin{
    background:
    linear-gradient(135deg,#0ea5e9,#0284c7);

    color:white;
}

.social-card h2{
    font-size:22px;
    margin-bottom:4px;
}

.social-card p{
    font-size:14px;
    opacity:0.9;
}

/* SETA */

.seta{
    margin-left:auto;
    font-size:26px;
}

/* BOTÃO VOLTAR */

.btn-voltar-sobre{
    margin-top:30px;
    width:100%;
    height:58px;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    background:#e2e8f0;
    color:#0f172a;
    font-weight:600;
    transition:0.3s;
    font-size: 20px;
}

.btn-voltar-sobre:hover{
    background:#cbd5e1;
    transform:translateY(-2px);
}

a{
    text-decoration: none;
}

.menu_opcoes button p{
    color: #fff;
    font-size: 20px;
}

.menu_opcoes button p:hover{
    color: black;
}

.menu_opcoes button:hover{
    background-color: #f16305;
}

.menu_sobre{    width:1200px;    background:white;    border-radius:30px;    padding:35px;    position:relative;    z-index:1;    box-shadow:    0 15px 40px rgba(79,70,229,0.15); left: 290px;}
.topo{    text-align:center;    margin-bottom:45px;}.icone-topo{    width:90px;    height:90px;    margin:auto;    margin-bottom:20px;    border-radius:50%;    display:flex;    justify-content:center;    align-items:center;    font-size:42px;    background:    linear-gradient(135deg,#4f46e5,#6366f1);    color:white;    box-shadow:    0 10px 25px rgba(79,70,229,0.3);}#titulo_bem_vindo{    font-size:42px;    color:#0f172a;    margin-bottom:12px;}.subtitulo{    color:#64748b;    font-size:18px;}
.modelo_conteudo{    display:flex;    align-items:center;    gap:40px;}
.lado_imagem{    width:35%;}.card-personagem{    background:    linear-gradient(135deg,#eef2ff,#ffffff);    border-radius:28px;    padding:25px;    text-align:center;    position:relative;    box-shadow:    0 10px 25px rgba(0,0,0,0.08);}
.card-personagem img{    width:100%;    max-width:320px; position: relative; left: -10px;}
.badge{    margin-top:15px;    background:#4f46e5;    color:white;    padding:12px 18px;    border-radius:14px;    display:inline-block;    font-weight:600; position: relative; left: 16px;}
.conteudo{    flex:1;}.caixa_texto{    background:#f8fafc;    border-radius:25px;    padding:35px;    border:2px solid #eef2ff;}
.caixa_texto h2{    color:#0f172a;    font-size:30px;    margin-bottom:20px;}.caixa_texto p{    color:#475569;    line-height:1.8;    font-size:16px;    margin-bottom:18px;}
.topicos{    display:grid;    grid-template-columns:1fr 1fr;    gap:18px;    margin-top:30px;    margin-bottom:30px;}.topico{    background:white;    border-radius:18px;    padding:18px;    display:flex;    align-items:center;    gap:14px;    transition:0.3s ease;    box-shadow:    0 5px 15px rgba(0,0,0,0.05);}
.topico:hover{    transform:translateY(-4px);}
.topico span{    font-size:28px;}
.topico p{    margin:0;    font-size:15px;    color:#0f172a;}
.final-texto{    font-weight:500;    color:#4f46e5 !important;}
.botoes{    margin-top:40px;    display:flex;    justify-content:space-between;}
.btn{    width:200px;    height:60px;    border-radius:18px;    display:flex;    justify-content:center;    align-items:center;    text-decoration:none;    font-weight:600;    font-size:17px;    transition:0.3s ease;}
.anterior{    background:#e2e8f0;    color:#0f172a;}.anterior:hover{    background:#cbd5e1;}
.proxima{    background:    linear-gradient(135deg,#4f46e5,#4338ca);    color:white;    box-shadow:    0 10px 25px rgba(79,70,229,0.3);}
.proxima:hover{    transform:translateY(-3px);}


.menu_sobre{
    width:1350px;

    background:white;

    border-radius:35px;

    padding:45px;

    position:relative;
    z-index:1;

    box-shadow:
    0 15px 40px rgba(79,70,229,0.15);
}

/* TOPO */

.topo-conteudo{
    text-align:center;
    margin-bottom:45px;
    position: relative;
}


#titulo_bem_vindo{
    font-size:46px;
    color:#0f172a;

    margin-bottom:12px;
}

.subtitulo{
    color:#64748b;
    font-size:18px;
}

/* LAYOUT */

.modelo_conteudo{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

/* PERSONAGEM */

.lado_esquerdo{
    width:300px;
}

.card-personagem{
    background:linear-gradient(135deg,#eef2ff,#ffffff);
    border-radius:30px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    position: relative;
    top: 150px;
    left: 20px;
}

#personagem{
    width:100%;
}

.badge-conteudo{
    margin-top:18px;
    display:inline-block;
    background:#4f46e5;
    color:white;
    padding:12px 18px;
    border-radius:14px;
    font-weight:600;
}

.conteudos-grid{
    flex:1;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:22px;
    margin-top: -70px;
    position: relative;
    top: 60px;
}

.card-conteudo{
    background:#f8fafc;
    border-radius:24px;
    padding:28px;
    text-decoration:none;
    border:2px solid #eef2ff;
    transition:0.3s ease;
    box-shadow:0 8px 20px rgba(0,0,0,0.05);
}

.card-conteudo:hover{
    transform:translateY(-6px);
    border-color:#6366f1;
    background:white;
}

.card-conteudo span{
    width:70px;
    height:70px;

    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:32px;

    margin-bottom:20px;

    background:
    linear-gradient(135deg,#4f46e5,#6366f1);

    color:white;

    box-shadow:
    0 10px 20px rgba(79,70,229,0.2);
}

/* TÍTULO */

.card-conteudo h2{
    color:#0f172a;

    font-size:22px;

    margin-bottom:12px;
}

/* TEXTO */

.card-conteudo p{
    color:#64748b;

    line-height:1.6;

    font-size:15px;
}

/* RODAPÉ */

.rodape{
    /* margin-top:40px;
    display:flex;
    justify-content:flex-start; */
    position: relative;
    top: -170px;
    
}

/* BOTÃO */

.btn-voltar-conteudo{
    width:180px;
    height:58px;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    background:#e2e8f0;
    color:#0f172a;
    font-weight:600;
    transition:0.3s ease;
    position: relative;
    top: 170px;
    left: 85px;
}

.btn-voltar-conteudo:hover{
    background:#cbd5e1;
    transform:translateY(-2px);
}

#assunto{
    color: black;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    position: relative;
    top: 15px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    background-color: #142850;
}

#assunto p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.assuntos{
    height: 300px;
    padding: 30px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
    background-color: #fff;
    display: inline;
    position: relative;
    top: 70px;
    left: 850px;
}

#assunto p:hover{
    color: black;
}

#assunto:hover{
    background-color: #f16305;
}

#cont{
    left: -220px;
}

.referencia{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

#voltar{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

#voltar p{
    color: #fff;
}

#voltar p:hover{
    color: black;
}

#voltar:hover{
    background-color: #f16305;
}

.referencia p{
    color: #FFF;
    top: -2px;
}

.referencia p:hover{
    color: black;
}

.referencia:hover{
    background-color: #f16305;
}



#mostrar_mensagem{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    position: relative;
    border-radius: 6px;
    border-style: inset;
    border-color: black;
    top: -300px;
    left: 1510px;
    display: none;
}

#mostrar_mensagem p{
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}

#exemplo{
    width: 800px;
    height: 300px;
    margin-left: 570px;
    margin-top: 80px;
}

scroll-container{
    display: block;
    width: 975px;
    height: 410px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    padding-right: 35px;
}

scroll-container p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    background: black;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
    width: 700px;
    margin-left: 117px;
    border-radius: 6px;
    border-style: double;
    border-color: #fff;
}

#let{
    color: rgb(90, 90, 245);
    display: inline-block;
}

#valor{
    color: rgb(243, 74, 32);
    display: inline-block;
}

#simbolo{
    color: rgb(57, 243, 32);
    display: inline-block;
}

#resultante{
    color: rgb(203, 245, 17);
    display: inline-block;
}

#comentario{
    color: #ffffff8e;
    display: inline-block;
}

#console{
    color: #a439ce;
    display: inline-block;
}

#log{
    color: #f16305;
    display: inline-block;
}

#string{
    color: rgb(13, 102, 13);
    display: inline-block;
}

#link:hover{
    color: #f16305;
}

