body{
    background-color: rgb(252, 252, 251);
}

#titulo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

#titulo_bem_vindo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.modelo_conteudo{
    width: 100%;
    height: 600px;
    background-color: rgb(191, 194, 197);
    margin-top: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 6px;
}

.menu{
    background-color: rgb(191, 194, 197);
    width: 500px;
    height: 530px;
    margin: 0 auto;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#inicio{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 96%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.menu_opcoes{
    background-color: aliceblue;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    top: -20px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
}

.menu_opcoes button{
    width: 200px;
    border-radius: 6px;
    position: relative;
    left: 100px;
    top: 20px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    background-color: #142850;
}

a{
    text-decoration: none;
}

.menu_opcoes button p{
    color: #fff;
    font-size: 20px;
}

.menu_opcoes button p:hover{
    color: black;
}

.menu_opcoes button:hover{
    background-color: #f16305;
}

.texto_sobre{
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    background-color: aliceblue;
    position: relative;
    top: 20px;
    text-align: center;
    margin: 0 auto;
    border-style: inset;
    border-color: black;
    border-radius: 6px;
}

.conteudo{
    width: 1000px;
    height: 400px;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 640px;
    position: relative;
    top: 70px;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
}

.conteudo img{
    width: 400px;
    height: 420px;
    position: absolute;
    left: -460px;
    top: -1px;
}

.conteudo p{
    font-size: 20px;
    text-align: justify;
    padding-left: 15px;
}

#proxima{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 17px;
    position: relative;
    left: -50px;
    top: 100px;
}

#proxima p{
    color: #fff;
    padding: 20px;
    position: relative;
    top: -25px;
}

#proxima:hover{
    background-color: #f16305;
}

#proxima p:hover{
    color: black;
}

#anterior{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    left: 50px;
    top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#anterior p{
    color: #fff;
    padding: 20px;
    position: relative;
    top: -25px;
}

#anterior:hover{
    background-color: #f16305;
}

#anterior p:hover{
    color: black;
}

#assunto{
    color: black;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    position: relative;
    top: 15px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    background-color: #142850;
}

#assunto p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.assuntos{
    height: 300px;
    padding: 30px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
    background-color: #fff;
    display: inline;
    position: relative;
    top: 70px;
    left: 850px;
}

#assunto p:hover{
    color: black;
}

#assunto:hover{
    background-color: #f16305;
}

.botoes_3 p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.modelo_conteudo button:hover{
    background-color: rgb(107, 107, 105);
    color: rgb(255, 244, 240);
}

.modelo_conteudo button a{
    text-decoration: none;
}

#personagem{
    left: -373px;
    top: 60px;
    width: 300px;
    height: 300px;
}

#cont{
    left: -220px;
}

.botoes_1 button{
    background-color: #142850;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes_1 button:hover{
    background-color: #f16305;
    color: black;
}

.botoes_1 p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botoes_1 p:hover{
    color: black;
}

.botoes_2 button{
    background-color: #142850;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes_2 p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botoes_2 p:hover{
    color: black;
}

.botoes_2 button:hover{
    background-color: #f16305;
}

.botoes_3 button{
    background-color: #142850;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes_3 p{
    color: #fff;
    position: relative;
    top: -15px;
    left: -4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botoes_3 p:hover{
    color: black;
}

.botoes_3 button:hover{
    background-color: #f16305;
}

.botoes{
    position: relative;
    top: -20px;
    
}

.referencia{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

#voltar{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

#voltar p{
    color: #fff;
}

#voltar p:hover{
    color: black;
}

#voltar:hover{
    background-color: #f16305;
}

.referencia p{
    color: #FFF;
    top: -2px;
}

.referencia p:hover{
    color: black;
}

.referencia:hover{
    background-color: #f16305;
}



#mostrar_mensagem{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    position: relative;
    border-radius: 6px;
    border-style: inset;
    border-color: black;
    top: -300px;
    left: 1510px;
    display: none;
}

#mostrar_mensagem p{
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}

#exemplo{
    width: 800px;
    height: 300px;
    margin-left: 570px;
    margin-top: 80px;
}

scroll-container{
    display: block;
    width: 975px;
    height: 410px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    padding-right: 35px;
}

scroll-container p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    background: black;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
    width: 700px;
    margin-left: 117px;
    border-radius: 6px;
    border-style: double;
    border-color: #fff;
}

#let{
    color: rgb(90, 90, 245);
    display: inline-block;
}

#valor{
    color: rgb(243, 74, 32);
    display: inline-block;
}

#simbolo{
    color: rgb(57, 243, 32);
    display: inline-block;
}

#resultante{
    color: rgb(203, 245, 17);
    display: inline-block;
}

#comentario{
    color: #ffffff8e;
    display: inline-block;
}

#console{
    color: #a439ce;
    display: inline-block;
}

#log{
    color: #f16305;
    display: inline-block;
}

#string{
    color: rgb(13, 102, 13);
    display: inline-block;
}

#link:hover{
    color: #f16305;
}

